@using Microsoft.AspNet.Identity
@model TicketingSystem.Web.Models.ManageUserViewModel

@*<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>*@

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="form-horizontal hidePassword">
        <h3 class="ticket-title">Change Password Form</h3>
        <div class="control-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.OldPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.NewPassword)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
        </div>

         <div class="form-actions no-color no-color-change">
             <input type="submit" value="Change password" class="btn change-password" />
        </div>
    </fieldset>
}
